
nav {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: gray;
}

nav img {
    height: 90%;
    margin-top: 5px;
    margin-left: 60px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    vertical-align: middle;
}

nav li, ul {
    display: inline-block;
}

li:after {
    content: ' |';
}

body {
    background: url(../images/outerspace_landscape.jpeg) no-repeat;
    background-size: cover;
}

.box {
    top: 200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 300px;
    border: 10px dotted green;
}

.cat, .dog {
    position: absolute;
    width: 200px;
}

.cat {
    top: -100px;
    left: -100px;
}

.dog {
    right: -100px;
    bottom: -100px;
}